Repository realponto-project/realponto-core, pull requests merged in 2021-05, with the labels that each got.

#128 chore: add invite email, recover pass and reset pass
  controllers/authentication/index.js
  controllers/company/index.js
  controllers/user/index.js
  domains/User/index.js
  index.js
  routes/recoveryPassword/index.js
  routes/user/index.js
  services/sendgrid.js
  utils/helpers/Schemas/User.js
  utils/helpers/dashUrl.js
  utils/helpers/tokenGenerate.js
  utils/templates/sendgrid/index.js
Labels: Priority high, backend, enhancement

#134 chore: add column showOnCatalog
  database/migrations/20210504133426-addColumn-product-showOnCatalog.js
  database/models/product.model.js
  utils/helpers/searchSpec.js
Labels: backend, database, domain, model

#138 chore: resend invite member
  controllers/user/index.js
  database/migrations/20210507114417-addColumn-user-lastTokenDate,countTokenSended.js
  database/models/user.model.js
  domains/User/index.js
  routes/user/index.js
Labels: backend, controllers
