Repository realponto-project/realponto-core, pull requests merged in 2021-03, with the labels that each got.

#33 Create model/fake transaction
  database/migrations/20210305143402-fakeTransaction.js
  database/models/fakeTransaction.model.js
  database/models/index.js
Labels: backend, database, model

#34 Create model/fake balance
  database/migrations/20210305145016-fakeBalance.js
  database/models/fakeBalance.model.js
  database/models/index.js
Labels: backend, database, model

#37 Domain/status
  .editorconfig
  .eslintrc.js
  config/database.js
  config/jest.js
  controllers/status/index.js
  docker-compose.yml
  domain/status/index.js
  domain/status/index.test.js
  jest.config.js
  package.json
  utils/helpers/Schemas/status.js
  utils/helpers/fakers.js
  utils/helpers/searchSpec.js
  yarn.lock
Labels: backend, domain

#40 chore: domain/company
  domain/company/index.js
  domain/company/index.test.js
  utils/helpers/Schemas/company.js
  utils/helpers/fakers.js
Labels: backend, domain

#38 Domain/product
  database/database-test.sqlite
  utils/helpers/factories.js
Labels: backend, domain

#57 Controller/user
  controllers/user/index.js
  controllers/user/index.test.js
  domains/User/index.js
  domains/User/index.test.js
  jest.config.js
Labels: backend, controllers, domain

#64 Controller/product
  controllers/product/index.js
  controllers/product/index.test.js
  database/database-test.sqlite
  domains/product/index.js
Labels: backend, controllers

#67 Controller/status
  controllers/status/index.js
  controllers/status/index.test.js
  database/database-test.sqlite
  routes/status/index.js
Labels: backend, controllers

#53 create transaction on order domain
  database/migrations/20210105124948-product.js
  database/models/product.model.js
  domains/Order/index.js
  domains/Order/index.test.js
  domains/User/index.test.js
  utils/helpers/Schemas/Order.js
  utils/helpers/factories.js
  utils/helpers/fakers.js
  utils/truncate.js
Labels: backend, domain

#56 Controller/auth
  config/jest/globalSetup.js
  controllers/authentication/index.js
  controllers/authentication/index.test.js
  controllers/company/index.js
  controllers/company/index.test.js
  controllers/customer/index.js
  controllers/customer/index.test.js
  controllers/order/index.js
  controllers/order/index.old.js
  controllers/order/index.test.js
  controllers/product/index.js
  controllers/product/index.test.js
  controllers/status/index.js
  controllers/status/index.test.js
  controllers/user/index.js
  controllers/user/index.test.js
  database/database-test.sqlite
  database/migrations/20210105124942-status.js
  database/models/status.model.js
  domains/Customer/index.js
  domains/Customer/index.test.js
  domains/Order/index.js
  domains/Order/index.test.js
  domains/User/index.js
  domains/User/index.test.js
  domains/company/index.js
  domains/company/index.test.js
  domains/product/index.js
  domains/product/index.test.js
  domains/status/index.js
  jest.config.js
  package.json
  routes/company/index.js
  routes/order/index.js
  routes/status/index.js
  utils/helpers/factories.js
  yarn.lock
Labels: backend, controllers

#82 Add/plan domain controller routes
  controllers/plan/index.js
  controllers/plan/index.test.js
  database/database-test.sqlite
  database/migrations/20210105124845-plans.js
  database/migrations/20210105124942-status.js
  database/models/plan.model.js
  database/models/status.model.js
  database/seeders/20210105221431-plans.js
  database/seeders/20210105221450-user.js
  domains/Plan/index.js
  domains/Plan/index.test.js
  index.js
  routes/plan/index.js
  utils/helpers/Schemas/Plan.js
  utils/helpers/factories.js
  utils/helpers/fakers.js
  utils/helpers/searchSpec.js
Labels: backend, controllers, database, domain, model

#85 Add/subscription
  controllers/subscription/index.js
  controllers/subscription/index.test.js
  database/database-test.sqlite
  database/migrations/20210105124845-plans.js
  database/migrations/20210105220747-subscription.js
  database/models/plan.model.js
  database/models/subscription.model.js
  database/seeders/20210105221431-plans.js
  domains/Subscription/index.js
  domains/Subscription/index.test.js
  index.js
  package.json
  routes/subscription/index.js
  utils/helpers/Schemas/Subscription.js
  utils/helpers/Schemas/product.js
  utils/helpers/fakers.js
  yarn.lock
Labels: backend, controllers, database, domain, model
